# Dependencies
node_modules/
.npm/
.npm-cache/
.prisma/

# Environment Variables
.env
.env.local
.env.*.local

# Databases (Local)
**/dev.db
**/dev.db-journal
*.sqlite
*.db

# Logs
*.log
build_log.txt


# Build Outputs
dist/
build/
.next/
out/

# IDE & Logs
.vscode/
.idea/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db
